* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.top {
 background-color: #3E2A35;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px 40px 20px;
}

h1 {
  color: #FFF;
  justify-content: space-around;
  font-size: 2.75em;
}

.logo {
  width: 40px;
  margin: 0px 5px;
}

.search-bar {
  display: flex;
  height: 40px;
  margin: 20px;
  width: 300px;
}

.search {
    border-radius: 3px 0px 0px 3px;
    border: 1px solid #C2B2B4;
    width: 100%;
}

::placeholder {
  color: #938284;
  font-weight: 500;
  font-size: 14px;
}

.search-bar i {
  background-color: #C2B2B4;
  border-radius: 0px 3px 3px 0px;
  color: #FFF;
  font-weight: 800;
  padding: 7px;
}

.user-input {
  color: #938284;
}

.title-body {
  border: none;
  height: 50px;
  margin: 10px 0px 20px 0px;
  width: 100%;
}

div {
    align-items: center;
    background-color: #5B4447;
    color: #FFF;
    display: flex;
    height: 50px;
    margin: 20px 0px 20px 0px;
}

div label {
  margin: auto;
}


.add-and-filter-photos-buttons {
  background-color: #5B4447;
  border: none;
  color: #FFF;
  height: 50px;
  margin: 20px 0px 40px 0px;
  width: 100%;
}

div:hover,
.add-and-filter-photos-buttons:hover {
  background-color: #938284;
}

.small {
  width: 45%;
}

.small-buttons {
  display: flex;
  justify-content: space-between;
}

.add-and-filter-photos {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
}


.foto-display {
  background-color: #C2B2B4;
  display: flex;
  flex-wrap: wrap;
}

  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }

  text:focus {
    cursor: none;
  }

  #choose-file-button {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

/*INNER HTML*/

.foto-post {
  background-color: #FFF;
  border: 2px solid #938284;
  margin: 20px;
  width: 250px;
}

.foto-post img {
  width: 100%;
}

.foto-interactive-container {
  background-color: #5B4447;
  display: flex;
  height: 60px;
  justify-content: space-between;
}

.foto-interactive-container img {
    margin: 13px;
    width: 35px;
}

.foto-display input {
  border: none;
  height: 48px;
  margin-top: 1px;
  padding-left: 5px;
  width: 99%;
}

@media screen and (max-width: 650px) {
  header {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .search-bar {
    margin: 0px;
    width: 55%;
  }
  .foto-display {
    justify-content: space-around;
  }
}
